body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: yellow;
  /* Use background Strat image here: photo by Arjun Ramesh, copyright 2020 Arjun Ramesh. */
  background-image: url("images/Strat.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: larger;
}

.box {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
}

#title_container {
  width: 600px;
  height: 200 px;
  background: transparent;
  /* background: #f7f7f7; */
  flex-direction: row;
  align-items: flex-start;
  border-radius: 20px;
  padding: 20px;
  /* margin: auto; */
}

#input_container {
  width: 550px;
  height: 400px;
  background: transparent;
  /* background: #f7f7f7; */
  flex-direction: row;
  align-items: flex-end;
  border-radius: 20px;
  padding: 20px;
  /* margin: auto; */
}

h1 {
  color: rgb(140, 192, 81);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  align-items: center;
  text-align: center;
}

h2 {
  color: #2344da;
  font-size: 40 px;
  align-items: center;
  text-align: center;
}

h3 {
  color: white;
  text-align: justify;
}

h4 {
  color: red;
  text-align: center;
  align-items: center;
}

p {
  color: yellow;
}

#jam {
  font-size: 20px;
  padding: auto;
}

#jam:focus {
  background: grey;
}

#strings {
  font-size: 20px;
  padding: auto;
}

#strings:focus {
    background: grey;
}

#frets {
  font-size: 20px;
  padding: auto;
}

#frets:focus {
    background: grey;
}

button {
  width: auto;
  height: auto;
  background-color: red;
  border-radius: 10px;
  /* color: yellow; */
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: auto;
  display: block;
  text-transform: uppercase;
}
